* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}

.body {
    height: 100vh;
    margin: 0px;
    display: grid;
    background-color: #425cc7;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Raleway', sans-serif;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;    
    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";
}

.cabecalho {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 30px;
}


.principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Raleway";
    font-size: 16px;
}

.responsive {
    width: 70%;
    height: auto;
    position: relative;
    text-align: center;
    color: white;

}

.patternfooter{
    position: relative;
    align-items:center; 
}

.hr {
    margin: auto;
    width: 40%;
}

.fonte {
    font-size: 16px;
    font-family: "Raleway";
    color: white;
    position:relative; 
    text-align: center;
    text-decoration: none;
    display: block;
    

}


.button {
    background-color: #425CC7; 
    border: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "Raleway";
    margin: auto;
    width: 70%;
}
  
.button1 {
    background-color: white; 
    color: #425CC7; 
    border: 3px solid #425CC7;
    border-radius: 10px;
    font-family: "Raleway";
    
    
}
  
.button1:hover {
    background-color: #425CC7;
    color: white;
}

body {margin:0;height:2000px;}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: white;
}

.facebook {
  background: white;
  color: #425CC7;
}

.instagram {
  background: white;
  color: #425CC7;
}

.whatsapp {
  background: white;
  color: #425CC7;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}